.search {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  gap: 20px;

  grid-template-columns:
    repeat(auto-fill, minmax(280px, 1fr));
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}