@if (loading()) {
  <p>Carregando receita...</p>
} @else {
  @if (receita(); as r) {
    <mat-card>
      <img *ngIf="r.imagem_url" mat-card-image [src]="r.imagem_url" />

      <mat-card-title>
        {{ r.nome }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ r.tipos?.nome }} • {{ r.dificuldades?.nome }} •

        {{ r.tempo_preparo }} min • {{ r.porcoes }} porções
      </mat-card-subtitle>

      <mat-card-content>
        <p>{{ r.descricao }}</p>

        <h3>Ingredientes</h3>

        <ul>
          @for (ing of r.receita_ingredientes; track $index) {
            <li>
              @if (ing.quantidade) {
                {{ ing.quantidade }}
              }

              @if (ing.unidade) {
                {{ ing.unidade }}
              }

              {{ ing.ingredientes.nome }}
            </li>
          }
        </ul>

        <h3>Modo de preparo</h3>

        <p>{{ r.modo_preparo }}</p>
      </mat-card-content>
    </mat-card>
  }
}
